@model IEnumerable<Northwind.Core.Domain.Entities.Order>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-primary">Add Order</button>
    </a>
</p>

<table class="table table-striped table-bordered table-hover" id="table-orders">
    <thead>
        <tr>
            <th>
                 Order Date
            </th>
            <th>
                 Required Date
            </th>
            <th>
                 Shipped Date
            </th>
            <th>
                 Freight
            </th>
            <th>
                  Ship Name
            </th>
            <th>
                 Ship Address
            </th>
            <th>
                Ship City
            </th>
            <th>
                ShipRegion
            </th>
            <th>
                 Ship Postal Code
            </th>
            <th>
                 Ship Country
            </th>
            <th>
                 Customer
            </th>
            <th>
                 Employee
            </th>
            <th>
                 Ship Via Navigation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipRegion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipPostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipViaNavigation.CompanyName)
            </td>
            <td>
                <a asp-action="Create">
                    <button type="button" class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil"></i>  Edit  
                    </button>
                </a>
                 
                <a asp-action="Create">
                    <button type="button" class="btn btn-secondary btn-sm">
                        <i class="fas fa-circle-info"></i> Details
                    </button>
                </a>

                <a asp-action="Create">
                    <button type="button" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-can"></i> Delete
                    </button>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
<script>
    $('#table-orders').DataTable();
</script>
}