@model IEnumerable<Northwind.Core.Domain.Entities.Customer>

@{
    ViewData["Title"] = "Customers";
}
<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-primary">Add Customer</button>
    </a>
</p>

<table class="table table-striped table-bordered table-hover" id="table-customers">
    <thead>
        <tr>
            <th>
                 Company Name
            </th>
            <th>
                 Contact Name
            </th>
            <th>
                 Contact Title
            </th>
            <th>
                 City
            </th>
            <th>
                 Postal Code
            </th>
            <th>
                 Country
            </th>
            <th>
                 Phone
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>

            <td>

                <a asp-action="Create">
                    <button type="button" class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil"></i>  Edit  
                    </button>
                </a>

                <a asp-action="Create">
                    <button type="button" class="btn btn-secondary btn-sm">
                        <i class="fas fa-circle-info"></i> Details
                    </button>
                </a>

                <a asp-action="Create">
                    <button type="button" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-can"></i> Delete
                    </button>
                </a>

            </td>
        </tr>
}
    </tbody>
</table>



@section Scripts{
<script>
    $('#table-customers').DataTable();
</script>
}